.loader {
    height: 100px;
    background-color: #111;
    margin-right: 10px;
}

.loaderLarge {
    height: 250px;
    background-color: #111;
    margin-right: 10px;
}

.loader__card {
    position: relative;
    overflow: hidden;
    height: 100%;
    background-color: #1e1e1e;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.loaderImg {
    height: 50%;
}